RewriteEngine on
RewriteCond $1 !^(index\.php|swf|tmp|assets|custom|less|images|uploads|css|js|bootstrap|fonts|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dbApp/index.php?/$1 [L,QSA]